# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Qt / PyQt
*.qmlc
*.jsc
*.rcc

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# User config
config/stations.json
