# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Qt / PyQt
# =========================
*.qmlc
*.jsc
*.rcc

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# App-specific / local files
# =========================
config/stations.json
traywave_pystray.py
